# build artifacts
bin
maia
.gopath
build/install/
build/docker.tar
pkg/storage/genmock.go
pkg/keystone/genmock.go
pkg/ui/bindata.go
pkg/ui/bindata.go.bak

# test artifacts
pkg/test/migrations/*.sql
unittest.db
build/cover.out
build/*.cover.out
build/cover.html
*.actual

# vendoring artifacts
.golangvend-cache/

# custom configuration files used during development
*test*.yaml
*config*.yaml

# other
.idea*
